{% load static %}

<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"><title>
</title>
</head><body background="{% static 'background-gunhub.png' %}" bgcolor="#fefefe" text="#000000" link="#000000" vlink="#000000" alink="#000000">
<center>

<br><br><br><table border="0" width="85%" cellspacing="0" cellpadding="0">
<tbody><tr>
	<td colspan="3">
		<table width="95%" cellspacing="0" cellpadding="0">
		<tbody><tr>
			<td align="center" valign="bottom" width="55%">
				<table width="80%" cellpadding="0"><tbody><tr><td bgcolor="#000000">

	      <table width="100%" cellpadding="6">
	      <tbody><tr><td bgcolor="#fefefe">
				<center><b>
				<h1>GUNHUB</h1>				</b></center>
				</td></tr></tbody></table>
</td><m</tr></tbody></table>			</td>
			<td valign="bottom" align="right">
				<table cellpadding="0"><tbody><tr><td bgcolor="##000000">
				<table cellpadding="0"><tbody><tr><td bgcolor="#ffffff">
				<img src="{% static 'gunhub-logo.png'%}" alt="Gunhub" border="0" width="330" height="150">				</td></tr></tbody></table>
				</td></tr></tbody></table>
			</td>
		</tr>
      <tr>
		<div><marquee style="border:black; border-width: 2px; border-style: solid; font-size: larger;" scrollamount="7" bgcolor="#fff">KUP 5 SZTUK GLOCK-17 - SZÓSTĄ DOSTANIESZ GRATIS!&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;PRZY ZAKUPIE ZA MIN. 10000 ZŁ PRZESYŁKA GRATIS - INPOST, DHL, DPD, UPS&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ZESTAW POWRÓT DO SZKOŁY - OKAŻ LEGITYMACJĘ I ZYSKAJ ZNIŻKĘ NA BROŃ DŁUGĄ + BROŃ KRÓTKA + BROŃ BIAŁA + 90SZT AMUNICJI GRATIS&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ZESTAW BRYTYJSKI - UDOWODNIJ OBYWATELSTWO BRYTYJSKIE I ZYSKAJ 10% ZNIŻKI NA BROŃ BIAŁĄ</marquee></div>
         <td colspan="2"><br></td>
      </tr>
		</tbody></table>
	</td>
</tr>
<tr valign="top">
	<td width="10%">
		<table width="100%" cellpadding="0"><tbody><tr><td bgcolor="#000000">

	      <table width="100%" cellpadding="14">
	      <tbody><tr><td bgcolor="#fefefe">
<font size="-1"><b>
<a href="/">Strona główna</a></b></font><p><font size="-1"><b>
</b></font>
</p></td></tr></tbody></table>
</td></tr></tbody></table><table width="100%" cellpadding="0"><tbody><tr><td bgcolor="#000000">

	    
</td></tr></tbody></table><p>	</p></td>
	<td> &nbsp; </td>
	<td>








<center>
<table border="0" width="100%" cellspacing="0" cellpadding="0">
<tbody><tr>
   <td colspan="2">
      <table width="100%" cellpadding="0"><tbody><tr><td bgcolor="#000000">

              <table width="100%" cellpadding="4">
              <tbody><tr><td bgcolor="#fefefe">
      &nbsp;
      <b>
      Witaj w skepie internetowym GUNHUB.
                <b>
                </b></b></td></tr></tbody></table>
</td></tr></tbody></table>   </td>
</tr>
<tr>
        <td valign="top">
                <table width="100%" cellpadding="0"><tbody><tr><td bgcolor="#000000">

              <table width="100%" cellpadding="14">
              <tbody><tr><td bgcolor="#fefefe">

<form style="display: flex; flex-direction: column; justify-content: left; padding-left: 10px; padding-right: 10px; padding-top: 0px; padding-bottom: 0px; margin: 0px; border: 2px solid #000;" method="post">
	{% csrf_token %}
	<h1 style="margin: 0px;">Rejestracja</h1>
	<p style="margin: 0; padding: 0;">Login</p>
	{{form.username}}
	<hr style="width: 100%; margin-top: 10px;">
	<p style="margin: 0; padding: 0;">Hasło</p>
	{{form.password1}}
	<p style="margin: 0; padding: 0;">Potwierdź Hasło</p>
	{{form.password2}}
	<div"></div>
	<hr style="width: 100%;">
	<p style="margin: 0; padding: 0;">Płeć</p>
	<input type="radio" id="plec">
	<label for="plec">Mężczyzna</label>
	<br>
	<hr style="width: 100%;">
	<p style="margin: 0; padding: 0;">Numer PESEL (jeśli dotyczy)</p>
	<input type="text">
	<hr style="width: 100%;">
	<p style="margin: 0; padding: 0;">Wzrost</p>
	<input type="text">
	<br>
	<hr style="width: 100%;">
	<p style="margin: 0; padding: 0;">Forma potwierdzenia danych:</p>
	<input type="checkbox" id="dowod">
  	<label for="dowod">Dowód</label><br>
 	 <input type="checkbox" id="paszport">
  	<label for="paszport">Paszport</label><br>
	<hr style="width: 100%;">
	<p style="margin: 0; padding: 0;">Numer Karty Dużej Rodziny (jeśli dotyczy) (10% zniżki!)</p>
	<input type="text">
	<hr style="width: 100%;">
	<input type="submit" value="Prześlij formularz" style="margin-top: 10px;">
	

</form>

</p></td></tr></tbody></table>
</td></tr></tbody></table>   </td>
   <td width="20%" valign="top">
                <table width="100%" cellpadding="0"><tbody><tr><td bgcolor="#000000">

              <table width="100%" cellpadding="4">
              <tbody><tr><td bgcolor="#fefefe">
                <center><font size="-1"><b>
                        4/18/24      </b></font></center>
                </td></tr></tbody></table>
</td></tr></tbody></table>
                   </td>
</tr>

<tr>
   <td colspan="2"><br></td>
</tr>

</tbody></table>
















</center></td></tr><tr>
   <td colspan="2"><br></td>
</tr>

   

<tr valign="top">
      

<td colspan="3" align="right"><table width="" cellpadding="0"><tbody><tr><td bgcolor="#000000">

	      <table width="100%" cellpadding="4">
	      <tbody><tr><td bgcolor="#fefefe">

<font size="-2">
Gunhub™ jest trademarkiem Jakuba Maksymiliana Oleńskiego, Igora Kalinowskiego i Weroniki Zacharczyk. Wszystkie prawa zastrzeżone.
</font>

</td></tr></tbody></table>

</td></tr></tbody></table>
   </td>
</tr>
</tbody></table>

</center>



</body></html>
